@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  margin: 0;
  background-color: hsl(0, 0%, 0%);
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.app{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 250px;
  max-width: 250px;
  border-radius: 6%;
  background-color: #c6c3bb;
  height: 360px;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  gap: 32px;
}

h1 {
  color: white;
}

h2 {
  font-weight: 700;
  margin: 0px;
}

h3 {
  font-weight: 700;
  color: rgb(47, 47, 47);
  font-Size: 16;
  margin: 12px;
}

p{
  font-size: 15px;
}

img {
  border-radius: 6%;
}

@media screen and (width < 1100px) {
  .app {
    display: flex;
    min-width: 375px;
    flex-direction: column;
    }
  .container{
    margin:2em auto;
  }
}
